<%= render "shared/navbar" %>
<div class="container">
  <div style="text-align: center"><h1><%=@job.title%></h1>
<p>Company: <%= @job.company %></p>
<p>Terms: <%= @job.terms %></p>
<p>Job Description: <%= @job.description %></p>
 </div>
</div>
