<nav class="navbar navbar-expand-lg">
      <img src="https://img.icons8.com/ios-filled/100/000000/door-opened.png"/>
      <a class="navbar-brand" id="navbar-title">Open Doors</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div>
            <ul class="navbar-nav">
              <li class="nav-item active">
                 <%= link_to "Jobs", jobs_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Post a Job", new_job_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
          <%= link_to "LOG-IN", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "SIGN-UP", new_user_registration_path, class: "nav-link" %>
        </li>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

            </ul>
          </div>
        </div>
</nav>
